<!DOCTYPE html>
<html>
  <head>
    <title>RoR Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="fw-bold flash flash--notice <%= 'flash--show' if notice %>"><%= notice %></p>
    <p class="fw-bold flash flash--alert <%= 'flash--show' if alert %>"><%= alert %></p>
    <main class="main container">
      <%= yield %>
    </main>
  </body>
</html>
